html {
  font-size: 1rem;
}

/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  html {
    font-size: 0.8rem;
  }
}

.zilwatch-brand {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3 {
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.box {
  margin: 0.3rem;
  padding-right: 0.6rem;
  /* this is a hack to keep the table inside the box */
  background-color: rgba(221, 221, 221, 0.15);
  border: 1px solid rgba(104, 104, 104, 0.15);
}

.balance-box {
  padding: 1rem;
}

.title-box {
  margin: 0.6rem;
  padding: 0.6rem;
}

.table {
  margin: 0.3rem;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}