.bg-dynamic-1 {
  background-color: var(--bg-dynamic-1)!important
}

/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  html {
    font-size: 0.8rem;
  }
}

.zilwatch-navbar-brand {
  font-family: 'Nunito', sans-serif;
  align-items: center;
  display: flex;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3 {
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.box {
  margin: 0.3rem;
  /* this is a hack to keep the table inside the box */
  padding-right: 0.6rem;
  background-color: var(--bg-dynamic-2);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.highlight-box {
  margin: 0.3rem;
  /* this is a hack to keep the table inside the box */
  padding-right: 0.6rem;
  background-color: rgba(136, 213, 129, 0.15);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.balance-box {
  padding: 1rem;
}

.title-box {
  margin: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.subtitle-box {
  margin: 0.2rem;
}

.table {
  margin: 0.3rem;
}

.footer {
  padding: 2.5rem 0;
  color: var(--text-color);
  text-align: center;
  border-top: .05rem solid rgba(0, 0, 0, 0);
}

/*  For public cards (on top) */

.box-public {
  margin: 0.3rem;
  background-color: var(--bg-dynamic-2);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.box-public>.card-body {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0.6rem;
}

.card-header {
  border-radius: 10px 10px 0 0;
  background-color: var(--bg-dynamic-2);
  border-bottom: 1px solid var(--light-alpha-10);
}

.card-header:first-child {
  border-radius: 10px 10px 0 0;
}

.card-header.collapsed {
  border: 0;
  border-radius: 10px;
}

.card-header.collapsed:first-child {
  border-radius: 10px;
}

.card-header:hover {
  background-color: var(--light-alpha-10);
  cursor: pointer;
  transition: .15s linear;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.custom-select {
  width: 8rem;
  background: var(--bg-dynamic-4) var(--custom-select-arrow);
  color: var(--text-color);
  border: 1px solid var(--light-alpha-5);
}

.positive-green {
  color: var(--positive-green);
}

.negative-red {
  color: var(--negative-red);
}

.tooltip-container {
  border: 0;
  border-radius: 10px 10px 0 0;
  padding: 4px;
}

.tooltip-container:hover, .tooltip-container.hover-effect {
  background-color: var(--light-alpha-5);
  cursor: pointer;
}

.tooltip-content {
  border: 0;
  padding: 4px;
  background-color: var(--light-alpha-5);
}

.tooltip-rounded {
  border-radius: 10px;
}

.table-background-color {
  background-color: var(--bg-dynamic-3);
}

.table-sticky-header {
  overflow: auto;
}

.table-sticky-header thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-sticky-header tbody th {
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-sticky-header thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}